<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
<link rel="stylesheet" href="/bundles/jalisbootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/bundles/jalisfogan/css/main.css" />
{% block stylesheets %}{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="index.html" class="brand">PRUEBAS</a>
      <div class="btn-group pull-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
          <i class="icon-user"></i>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#" class="cookie-delete">Delete Cookies</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
        </ul>
        {% else %}
           <a class="btn" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    Mensajes <span class="label label-info">100</span>
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="#">Message 1</a></li>
                  <li><a href="#">Another message</a></li>
                  <li><a href="#">Something else message</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Older messages...</a></li>
              </ul>
          </li>
          <li><a href="#">Help</a></li>  
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
{% for key, message in app.session.getFlashes() %}
     <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
     </div>
 {% endfor %}
<header id="overview" class="jumbotron subhead">
  <div class="container">
    <h1>Home</h1>
    <p class="lead">Pagina de inicio</p>
  </div>
</header>

<div class="container">
<div class="row">
<div class="span2">
<!--Sidebar content-->
</div>
<div class="span10">
<!--Body content-->

{% block body %}
 {% block fos_user_content %}{% endblock %}
{% endblock %}</div>
</div>
</div> 

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/bundles/jalisbootstrap/js/bootstrap.js"></script> 

{% block javascripts %}{% endblock %}
</body>
</html>
