<a!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
<link rel="stylesheet" href="/bundles/jalisbootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/bundles/jalisfogan/css/main.css" />
<link rel="stylesheet" href="/awesome/css/font-awesome.css" />
<link rel="stylesheet" href="/datepicker/css/datepicker.css" />
<link rel="stylesheet" href="/colorpicker/css/colorpicker.css" />
{% block stylesheets %}{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/bundles/jalisbootstrap/js/bootstrap.js"></script> 
<script src="/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/colorpicker/js/bootstrap-colorpicker.js"></script>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="index.html" class="brand">PRUEBAS</a>
      <div class="btn-group pull-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
          <i class="icon-user"></i>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
          <li><a href="{{path ('myanimals')}}">Settings</a></li>
          <li><a href="#" class="cookie-delete">Delete Cookies</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
        </ul>
        {% else %}
           <a class="btn" href="{{ path('fos_user_registration_register') }}"> <i class="icon-edit"></i>  registrarse</a>
           <a class="btn" href="{{ path('fos_user_security_login') }}"><i class="icon-signin"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    Mensajes <span class="label label-info">100</span>
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="#">Message 1</a></li>
                  <li><a href="#">Another message</a></li>
                  <li><a href="#">Something else message</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Older messages...</a></li>
              </ul>
          </li>
          <li><a href="#">Help</a></li>  
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
{% for key, message in app.session.getFlashes() %}
     <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
     </div>
 {% endfor %}
<header id="overview" class="jumbotron subhead">
  <div class="container">
    <h1>Home</h1>
    <p class="lead">Pagina de inicio</p>
  </div>
</header>

<div class="container">
<div class="row">
<div class="span2">
<!--Sidebar content-->
</div>
<div class="span10">
<!--Body content-->

{% block body %}
    {% block fos_user_content %}
    {% endblock %}
{% endblock %}</div>
</div>
</div> 
<footer class="row">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <h3>Quick links</h3>
                    <ul>
                        <li><a title="" href="#">Home</a></li>
                        <li><a title="" href="#">Our work</a></li>
                        <li><a title="" href="#">About us</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <br><br>
                    <ul>
                        <li><a title="" href="#">Pricing</a></li>
                        <li><a title="" href="#">Explore</a></li>
                        <li><a title="" href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="span4 social-networks">
                    <h3>Stay in touch</h3>
                    <p>Stay in touch on social networks</p>
                    <a class="icon-facebook" title="Follow us on Facebook" href="#"></a>
                    <a class="icon-twitter" title="Follow us on Twitter" href="#"></a>
                    <a class="icon-google-plus" title="Follow us on Google Plus" href="#"></a>
                    <a class="icon-github" title="Follow us on Google Plus" href="#"></a>
                    <a class="icon-pinterest" title="Follow us on Google Plus" href="#"></a>
                </div>
                <div class="span4">
                    <h3>Newsletter</h3>
                    <p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
                    <form>
                        <input type="text" placeholder="Enter your E-mail">
                        <input type="submit" value="Ok" class="btn">
                    </form>
                </div>
            </div> <!-- /row -->        
        </div> <!-- /container -->

    <div id="footer-extra">
        <div class="container">
            <div class="row">
                <div class="span4">
                    &copy; 2010&mdash;2012 Your company
                </div>
                <div class="span4">
                    <i class="icon-phone"></i> &nbsp; 
                    00123 320 000 123 456
                </div>
                <div class="span4">
                    <i class="icon-envelope"></i> &nbsp; 
                    hello@yourcomapny.com
                </div>
            </div> <!-- end .row -->        
        </div> <!-- end .container -->      
    </div>


    </footer>

{% block javascripts %}{% endblock %}
</body>
</html>
